<h2 class="page_header">Editing Definition for #<%= @definition.id %> for <%= @word.name %></h2>
<h3>Original:</h3>
<p><em><%= @definition.text %></em></p>
<br><br>

<form action="/home/<%= @word.id %>" method="post">
  <label for="redefine_input">New Definition: </label>
  <input class="input_def" type="text" name="redefine_input">
  <button type="submit" name="button">Done</button>
</form>
<br>

<form action="/home/word/<%= @word.id %>/definition/<%= @definition.id %>/edit" method="post">
  <input name="_method" type="hidden" value="delete">
  <button type="submit">Delete Definition</button>
</form>
<br>
<a href="/home/word/<%= @word.id %>">Back</a>
