<h2 class="page_header"><%= @word.name %></h2>
<% if @definitions_list.any? %>
<h3>Definitions:</h3>
<ol>
  <% @definitions_list.each do |definition| %>
  <% if definition.word_id == @word.id %>
  <li><p class="def_text"><em><%= definition.text %></em></p></li>
  <a class="small_link" href="<%= @word.id %>/definition/<%= definition.id %>">Edit</a>
  <% end %>
  <% end %>
</ol>
<% else %>
<h3>Currently has no definitions!</h3>
<% end %>

<a href="/home/word/<%= @word.id %>/new_definition">Add a Definition</a>
<br>
<a href="/home/ ">Back</a>
